<html>
<head>
<meta content="text/html;charset=utf-8" http-equiv="Content-Type">
<meta content="utf-8" http-equiv="encoding">
<title>Tensor editor</title>

<script src="{{ url_for('static', filename='editing.js') }}"></script>

</head>
<style type="text/css">
line {
  stroke-width: 2;
}
line:hover {
  stroke: #8080f0;
  stroke-width: 3;
}
circle:hover {
  fill: #8080f0;
}
.selected {
  fill: #8080f0;
}
.intensityTheme {
  stroke: #F08080;
  fill: #F08080;
}
.segmentationTheme {
  stroke: black;
  fill: black;
}
</style>
<body>
  <h1>Tensor editor</h1>

  <p id="demo"></p>

  <input id="button1" type="button" value="Toggle channels"
         onclick="toggleChannels()" />
  <input id="button2" type="button" value="Toggle segmentation"
         onclick="toggleSegmentation()" />
  <input id="button3" type="button" value="Clear selection"
         onclick="clearSelection()" />
  <input id="button4" type="button" value="Undo"
         onclick="undo()" />
  <input id="button5" type="button" value="Redo"
         onclick="redo()" />
  <br />

  {% include "template.svg" %}

</body>

<script>
init();
</script>

</html>
