<html>
<head>
<meta content="text/html;charset=utf-8" http-equiv="Content-Type">
<meta content="utf-8" http-equiv="encoding">
<title>Interactive SVG</title>

<script src="{{ url_for('static', filename='editing.js') }}"></script>

</head>
<body>
  <h1>Interactive SVG</h1>

  <p id="demo"></p>

  <input id="button1" type="button" value="Toggle segmentation"
         onclick="toggleSegmentation()" />
  <input id="button2" type="button" value="Clear selection"
         onclick="clearSelection()" />
  <input id="button3" type="button" value="Undo"
         onclick="undo()" />
  <br />

  {% include "template.svg" %}

</body>

<script>
init();
</script>

</html>
