<html>
<head>
<meta content="text/html;charset=utf-8" http-equiv="Content-Type">
<meta content="utf-8" http-equiv="encoding">
<title>Tensor editor</title>

<script src="{{ url_for('static', filename='editing.js') }}"></script>

</head>
<body>
  <h1>Tensor editor</h1>

  <p id="demo"></p>

  <input id="toggle-channle-button" type="button" value="Toggle channels"
         onclick="toggleChannels()" />
  <input id="toggle-segmentation-button" type="button" value="Toggle segmentation"
         onclick="toggleSegmentation()" />
  <input id="clear-selection-button" type="button" value="Clear selection"
         onclick="clearSelection()" />
  <input id="undo-button" type="button" value="Undo"
         onclick="undo()" />
  <input id="redo-button" type="button" value="Redo"
         onclick="redo()" />
  <input id="move-tensor-button" type="button" value="Move tensor mode"
         onclick="moveTensorMode()" />
  <input id="add-tensor-button" type="button" value="Add tensor mode"
         onclick="addTensorMode()" />
  <input id="download-svg-button" type="button" value="Download SVG"
         onclick="downloadSVG()" />
  <input id="download-csv-button" type="button" value="Download CSV"
         onclick="downloadCSV()" />
  <br />

  {% include "template.svg" %}

</body>

<script>
init();
</script>

</html>
